Package: ffmpeg
Version: *VER*
Architecture: armel
Maintainer: rara64
Depends: libatomic1 (>= 4.8), libavcodec61 (>= 7:7.1.5), libavdevice61 (>= 7:7.1.5), libavfilter10 (>= 7:7.1.5), libavformat61 (>= 7:7.1.5), libavutil59 (>= 7:7.1.5), libc6 (>= 2.35), libplacebo349 (>= 7.349.0), libpostproc58 (>= 7:7.1.5), libsdl2-2.0-0 (>= 2.0.12), libswresample5 (>= 7:7.1.5), libswscale8 (>= 7:7.1.5)
Suggests: ffmpeg-doc
Section: video
Priority: optional
Multi-Arch: foreign
Homepage: https://ffmpeg.org/
Description: Tools for transcoding, streaming and playing of multimedia files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This package contains:
  * ffmpeg: a command line tool to convert multimedia files between formats
  * ffplay: a simple media player based on SDL and the FFmpeg libraries
  * ffprobe: a simple multimedia stream analyzer
  * qt-faststart: a utility to rearrange Quicktime files
